@model List<WebsiteSellingSuitcases.Models.tBlog>
<div class="blog_widget widget_recent  mb-30">
    <h3>Phổ Biến</h3>
    <div class="widget_recent_inner" style="overflow:auto;height:350px">
        @{
            foreach (var item in Model)
            {
                <div class="single_posts">
                    <div class="posts_thumb">
                        <a href="@Url.Action("DocThem","Blog",new {Blog_ID=item.Blog_ID })"><img src="~/Images/Blogs/@item.AnhBlog" alt=""></a>
                    </div>
                    <div class="post_content">
                        <span>
                            <a class="tweet_author" href="@Url.Action("DocThem","Blog",new {Blog_ID=item.Blog_ID })">@item.TieuDe </a>

                        </span>
                        <a href="@Url.Action("DocThem","Blog",new {Blog_ID=item.Blog_ID })">@(((DateTime)item.Ngay).ToString("dd/MM/yyyy"))</a>
                    </div>
                </div>
            }
        }


    </div>
</div>
