@model WebsiteSellingSuitcases.Models.tAnhSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tAnhSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tDanhMucSP.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tDanhMucSP.TenSP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenFileAnh)
        </dt>

        <dd>
            <img src="~/Images/@Model.TenFileAnh" id="imgInput" style="width:400px;height:400px;object-fit:contain" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
